# Practical_1: Variables and Assignments

In [ ]:
----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```
x = 10
---

In [ ]:
### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```
is_valid = True
---

In [ ]:
### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```
name = "Python Programming"
---

In [ ]:
### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```
sum_result = 5+3
---

In [ ]:
### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```
a, b, c = 5, 10, 15
---

In [ ]:
### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```
x = 5
y = x
---

In [ ]:
### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```
gravity = 9.8
---

In [ ]:
### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```
country = "Sweden"
---

In [ ]:
### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```
age = 25
age = 26
---

In [ ]:
### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```
subtract = 20 - 7
---

In [ ]:
### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```
book = 2
distance = 6.9
---

In [ ]:
### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```
is_completed = False
---

In [ ]:
### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```
x = "your name"
y = "my name"
tmp = x
x = y
y = tmp
---

In [ ]:
### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```
complex_num = 3 + 4j
---

In [ ]:
### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```
Family = 6
Family = "Father, Mother, Children"
---

In [ ]:
### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```
first_name = "Nnaa-Piam Alhassan"
last_name = "Alhassan"
---

In [ ]:
### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```
temperature = 35.5
---

In [ ]:
### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```
product = 8 * 6
---

In [ ]:
### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```
sentence = "The dog is running"
---

In [ ]:
### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```
a = "50"
int_value = int(a)
---

In [ ]:
### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```
quotient = 144 / 12
---

In [ ]:
### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```
remainder = 47 % 5
---

In [ ]:
### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```
is_student = True
---

In [ ]:
### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```
modulo = 45 % 4
---

In [ ]:
### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```
pi = 3.14159
---

In [ ]:
### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```
length(cm) = 15 
width(cm) = 12
Area = length * width
---

In [ ]:
### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```
negative_value = -39
---

In [ ]:
### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```
greeting = "Good Day"
---

In [ ]:
### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```
population = 3500069452
---

In [29]:
### Exercise 30:
#Use a variable to store the result of raising `2` to the power of `8`.

#```python
# Exercise 30
#```
power = 2 ** 8
print(power)

256

In [ ]:
### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```
fruits = ['apple', 'watermelon', 'banana', 'orange']
---

In [ ]:
### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```
coordinates = (5, 10, 15)
---

In [ ]:
### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```
person {'name': 'Emerald', 'age': 25}
---

In [ ]:
### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```
total = 1.7 + 2.59
---

In [4]:
### Exercise 35:
#Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

# Exercise 35

result = 10 > 5
is_sunny = result 
print(is_sunny)

True

In [7]:
### Exercise 36:
#Assign a string and an integer to two different variables, then print both on one line.

#```python
# Exercise 36
#```
var_one = "variable"
var_two = 150
print(var_one, var_two)
#---

variable 150

In [ ]:
### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```
t = 25
t = True
---

In [ ]:
### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```
is_weekend = False
---

In [10]:
### Exercise 39:
#Assign a multi-line string to a variable `description`.

#```python
# Exercise 39
#```
description = '''how are you?
Where do you live '''
print(description)
#---

how are you?
Where do you live

In [ ]:
### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```
abs_result = abs(-25)
---

In [ ]:
### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```
floor_div_result = 100 // 6
---

In [ ]:
### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```
mixed_sum = 24.9 + 10
---

In [27]:
### Exercise 43:
#Use variables to store a combination of string concatenation.


# Exercise 43

name = "AIMS"
country = "Rwanda"
greeting = "Welcome to"
welcome_page = greeting + " " + name + " " + country + "!"
print(welcome_page)

Welcome to AIMS Rwanda!

In [ ]:
### Exercise 44:
Assign an empty list to a variable `empty_list`.

```python
# Exercise 44
```
empty_list = []
---

In [14]:
### Exercise 45:
#Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

#```python
# Exercise 45
#```
a = 10
b = 15
a < b

#---

True

In [16]:
### Exercise 46:
#Assign a long sentence to a variable and count its characters using `len()`.

#```python
# Exercise 46
#```
var = "African Institute for Mathematical Science (AIMS) is a pan-African institution that seeks to train top African Mathematical Scientists." 
len(var)

135

In [ ]:
### Exercise 47:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 47
```
division_result = 7 / 3
---

In [23]:
### Exercise 48:
#Create a variable `speed` and assign it the value of 100 kilometers per hour.

#```python
# Exercise 48
#```
speed = "100 kilometers per hour"
print(speed)

100 kilometers per hour

In [22]:
### Exercise 49:
#Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

#```python
# Exercise 49
x = 4
y = 3 * x + 5
print(y)

17

In [19]:
### Exercise 50:
#Use variables to calculate and store the average of three numbers.

#```python
# Exercise 50
#```
numbers = [5, 7, 9]
avg_ = sum(numbers) / len(numbers)